@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <img src="https://source.unsplash.com/random/800x500/?university" alt="Univserity" class="img-thumbnail" style="margin:auto;">
</div>