@{
    ViewData["Title"] = "Home Page";
}


<div class="row" style="margin: auto;">
    <h1>Contoso University</h1>
    <img src="https://source.unsplash.com/random/1200x500/?university" alt="Univserity" class="img-thumbnail">
</div>